# Base de datos
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
POSTGRES_PORT=5433

# Backend
BACKEND_IMAGE=kevinho3324/posengine-backend:1.1.0
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://your-server-ip
NODE_ENV=production

# Frontend
FRONTEND_IMAGE=kevinho3324/posengine-frontend:1.0.1

# Nginx
NGINX_PORT=80