# ----------------------------
# Node / Frontend
# ----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
out/
target/
.env
.env.local
.env.*.local
.next/
.vscode/

deps/
# ----------------------------
# Tauri / Rust
# ----------------------------
/src-tauri/target/
**/*.rs.bk
**/*.rmeta
Cargo.lock
**/*.d
**/*.o
**/*.so
**/*.dll
**/*.dylib
**/*.exe

# ----------------------------
# Logs y temporales
# ----------------------------
*.log
*.tmp
*.temp
*.swp
*.swo

# ----------------------------
# Sistemas operativos
# ----------------------------
.DS_Store
Thumbs.db